In [2]:
# how to fill specific single column's null value

import pandas as pd

a = pd.read_csv('colors(csvfile5).csv')
a
b = a[a['Colors'] == 'Orange']
c = a[a['Colors'] == 'Honda'] # it will not return any row as word honda is not present in colors column
d = a[a['Cars'].isin(['Corolla','Hilux'])]
integers = a[a['Integers'].isin([2,6])]
e = a[a['Integers'] == 7]
#e.sum()

# note: str.contain (only support string values)

g = a[a['Cities'].str.contains('sh') == True]
f = a[a['Cities'].str.contains('K|G') == True]
h = a[a['Fruits'].str.contains('M|ry|erm') == True]
h

d

  Colors  Fruits     Cars   Cities  Integers  float
0  Green   Mango  Corolla  Karachi         1    1.2
2   Blue  Orange    Hilux   Makkah         6    9.8

In [21]:
import pandas as pd

a = pd.read_csv('colors(csvfile5).csv')
a

b = a[a['Integers'] < 3]
#o = a[a['float'] <= 3.600]
#c = a[a['float'] < 3]
d = a[(a['float'] > 5.5) & (a['Cities'].isin(['Makkah','Madina','Islam Abad']))]
e = a[(a['float'] > 5.5) & (a['Cities'].isin(['Makkah','Madina','Islam Abad'])) & (a['Colors'] == 'Blue')]
f = a[(a['float'] > 5.5) | (a['Cities'] == 'Sibi')] # | means either which one is true,it will return the true condition
#c
f

    Colors   Fruits         Cars      Cities  Integers  float
2     Blue   Orange        Hilux      Makkah         6   9.80
3   Yellow     Kiwi        Prado      Madina         2   7.60
4   Orange    Berry       Cultus  Islam Abad         3   9.76
8     Grey   Cherry  Lamborghini       Kabul         7   6.65
10     Red  Coconut     Formula1    Istanbul         2   9.78